body {

  background-color: rgb(240, 240, 240);
}

.contener {
  
   position:absolute;
  left: 20%;
  right: 20%;
  top: 2%;
  height: 1500px;
  border: 1px solid black;

}



.photo_and_info_div {
  display: inline-block;
}

.photo {
  display: inline-block;
}

div#info_div {
  display: inline-block;
  position: absolute;
  margin-left: 25px;
}

.info_div>h1 {
  margin: 0;
  FONT-VARIANT: JIS04;
  FONT-VARIANT: JIS04;
}

img {
  border-radius: 25px;
}

section.hobbis_section {
  background-color: white;
  border-radius: 25px;
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 15px;
}

.hobbis_div {
  position: absolute;
  left: 20px;
}

ol {
  padding-left: 17px;
}

li {
  padding-bottom: 5px;
  color: #4b857f;
}

.table_works{
  position: absolute;
  left: 20px;
}

table { width: 350%; }

th {
  text-align: left;
  padding-bottom: 7px;
}


.portfolio{
  position: absolute;
  left: 20px;
  right: 20px;
}
.hobbis_section hr {
  margin-top: -10px;
} 

.input_div{
  margin: 0 20px;
}
.input_div hr{
margin: 10px 30px 0px 0px;
}

.title_form1{
display: block;
padding :0px 40% ;
}

.user_name{
  display: inline-block;
  width: 50%;
}
.user_email{
  display: inline-block;
  width: 50%;
  position: absolute;
  
  }

  .user_text_area{

   
  }